* {
  padding: 0;
  margin: 0;
}
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Shared styles */
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  background: #fd6e0a;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 9px;
  border: none;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}
.bg-secondary {
  background-color: #fff8f3;
}
/* Header style */
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  /* margin-left: 25px; */
  /* margin-top: 20px; */
  /* background-size: contain; */
}
/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
  padding-top: 30px;
}
.nav-titles {
  font-weight: 800;
  font-size: 45px;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
nav ul {
  display: flex;
  align-items: center;
}

/* Banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}
.banner-title {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
}
.banner-description {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}
.banner-profile {
  width: 580px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;

}
/* About styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
  max-width: 825px;
  /* background-color: #FFFFFF; */
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.about-item-title {
  font-size: 20px;
  font-weight: 400;
  color: #757575;
}
.about-info {
  font-size: 20px;
  font-weight: 600;
  color: #474747;
}
.section-description {
  margin: 30px 0;
}
.skills-section-texts{
  text-align: center;
}
/* skill section styles */
.skill-container{
  display: flex;
}
.skill{
  padding: 30px;
  box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin: 15px;
  border-radius: 5px;
  

}
.skill-title{
  margin-top: 20px;
}
.skill-description{
  margin-top: 20px;

}